@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.great-button {
  position: relative;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

.great-button::before {
  content: '';
  position: absolute;
  top: -15px;
  right: -15px;
  bottom: 10px;
  left: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
}
