@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.sub-title {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #fff;
  width: 70%;
}

.great-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 15px 20px;
  width: 235px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.great-button::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 2px;
}
